<div class=" bg-white w-full h-screen items-start flex flex-col shadow-xl p-10">
  <div class="flex items-center gap-4 mb-12 ">
      <fa-icon [icon]="faCloudSun" class="px-3 py-2 bg-gradient-to-r from-[#3B82F6] to-[#9333EA] text-lg text-white rounded-lg "/>
      <p class="font-bold text-2xl ">WeatherPro</p>
  </div>
  <nav class="flex flex-col items-start gap-8 text-gray-600">
      <a href="#" class="hover:text-[#3B82F6]"> <fa-icon [icon]="faHome" class="mr-4"/> <span>Dashboard</span> </a>
      <a href="#" class="hover:text-[#3B82F6]"><fa-icon [icon]="faMapLocation" class="mr-4"/> <span>Locations</span></a>
      <a href="#" class="hover:text-[#3B82F6]"> <fa-icon [icon]="faClock" class="mr-4"/> <span>Forecast</span> </a>
      <a href="#" class="hover:text-[#3B82F6]"> <fa-icon [icon]="faChartLine" class="mr-4"/> <span>Analystic</span></a>
      <a href="#" class="hover:text-[#3B82F6]"> <fa-icon [icon]="faBell" class="mr-4"/> <span>Alerts</span> </a>
      <a href="#" class="hover:text-[#3B82F6]"><fa-icon [icon]="faGear" class="mr-4"/> <span>Settings</span> </a>
  </nav>
</div>
